
@media (min-width: 576px) {
    .col-sm {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.figure {
    width: 182px;
    height: 272px;
}

.figure-img {
    margin-bottom: 24px;
}
.figure-caption {
    line-height: 1.3;
    font-size: 1em;
}
.mb-90 {
    margin-bottom: 90px;
}
.body_container {
    padding-top: 130px;
}